<div class="center">
  <div>
    <mat-form-field class="full-width">
      <mat-label>Enter URL To Analyze</mat-label>
      <input matInput placeholder="https://medium.com" autocomplete="off" (keyup)="readURLValue($event)">
    </mat-form-field>
  </div>
  <div class="full-width">
    <button class="full-width" mat-stroked-button color="primary" (click)="analyzeURL()">ANALYZE!</button>
  </div>
  <br>
  <mat-card *ngIf="displayDataCard">
    <mat-card-content>
      <h4>Page Title: {{resultCardData.pageTitle}}</h4>
      <h4>HTML Version: {{resultCardData.htmlVersion}}</h4>
      <h4>Number of H1 Titles: {{resultCardData.h1Length}}</h4>
      <h4>Number of H2 Titles: {{resultCardData.h2Length}}</h4>
      <h4>Number of H3 Titles: {{resultCardData.h3Length}}</h4>
      <h4>Number of H4 Titles: {{resultCardData.h4Length}}</h4>
      <h4>Number of H5 Titles: {{resultCardData.h5Length}}</h4>
      <h4>Number of H6 Titles: {{resultCardData.h6Length}}</h4>
      <h4>Number of Internal Links: {{resultCardData.internalLinksLength}}</h4>
      <h4>Number of External Links: {{resultCardData.externalLinksLength}}</h4>
      <h4>Number of In-Accessible Links: {{resultCardData.inAccessibleLinksLength}}</h4>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="displaySpinnerCard">
    <mat-card-content class="spinner">
      <mat-spinner></mat-spinner>
    </mat-card-content>
  </mat-card>
</div>